<div class="jumbotron">
  <h2>Welcome to Request Pot!</h2>
  <p class="lead">A requestb.in clone written with Phoenix & Elixir</p>
  <button class="btn btn-success">Create a Pot</button>
  <br>
  <input type="checkbox"> Private Pot (only viewable from this browser)
</div>
